.mainSprite{ background:url("mainSprite.png") top left no-repeat; }
.mainSprite-icon-aeropuerto{ width:30px; height:30px; background-position:-10px -10px; }
.mainSprite-icon-zoologico{ width:30px; height:30px; background-position:-10px -50px; }
.mainSprite-icon-hospital{ width:30px; height:30px; background-position:-10px -90px; }
.mainSprite-icon-iglesia{ width:30px; height:30px; background-position:-10px -130px; }
.mainSprite-icon-banco{ width:30px; height:30px; background-position:-10px -170px; }
.mainSprite-icon-loc-urb{ width:30px; height:30px; background-position:-10px -210px; }
.mainSprite-icon-geodesia{ width:30px; height:30px; background-position:-10px -250px; }
.mainSprite-icon-mzn{ width:30px; height:30px; background-position:-10px -290px; }
.mainSprite-icon-gasolinera{ width:30px; height:30px; background-position:-10px -330px; }
.mainSprite-icon-escuela{ width:30px; height:30px; background-position:-10px -370px; }
.mainSprite-icon-ccomercial{ width:30px; height:30px; background-position:-10px -410px; }
.mainSprite-icon-loc{ width:30px; height:30px; background-position:-10px -450px; }
.mainSprite-icon-calle{ width:30px; height:30px; background-position:-10px -490px; }
.mainSprite-icon-oro{ width:30px; height:30px; background-position:-10px -530px; }
.mainSprite-icon-col{ width:30px; height:30px; background-position:-10px -570px; }
.mainSprite-icon-autobus{ width:30px; height:30px; background-position:-10px -610px; }
.mainSprite-icon-historico{ width:30px; height:30px; background-position:-10px -650px; }
.mainSprite-icon-departamental{ width:30px; height:30px; background-position:-10px -690px; }
.mainSprite-icon-mun{ width:30px; height:30px; background-position:-10px -730px; }
.mainSprite-icon-dom{ width:30px; height:30px; background-position:-10px -770px; }
.mainSprite-icon-hidro{ width:30px; height:30px; background-position:-10px -810px; }
.mainSprite-icon-ageb{ width:30px; height:30px; background-position:-10px -850px; }
.mainSprite-icon-hotel{ width:30px; height:30px; background-position:-10px -890px; }
.mainSprite-icon-museo{ width:30px; height:30px; background-position:-10px -930px; }
.mainSprite-icon-restaurant{ width:30px; height:30px; background-position:-10px -970px; }
.mainSprite-icon-edo{ width:30px; height:30px; background-position:-10px -1010px; }

